/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

*,
*:before,
:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #f7ecc2;
}

ul {
    list-style: none;
}

a:hover {
    color: #fffdf6;
}

body {
    /* box-sizing: border-box; */
    min-height: 100vh;
    width: 100%;
    /* display: flex; */
    font-family: 'Archivo', sans-serif;
    
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    padding-top: 1.5rem;
}

/* Sidebar - Top */
.top-sidebar-menu {
    padding-top: 5rem;
    font-size: 1rem;
}

.top-sidebar-menu a {
    padding-left: 10px;
}

.top-sidebar-menu > *{
    vertical-align: center;
    line-height: 3.5rem;
}

/* Sidebar Menu - Hover */
li.menu-hover {
    width: 100%;
}
.menu-hover:hover {
    background-color: #262626;
    border-left: 4px solid #fef3c7;
    border-top: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgb(45, 45, 45);
    padding-right: 0;
}

.menu-hover:active {
    background-color: #262626;
    border-top: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgb(45, 45, 45);
}

/* Bottom Sidebar */
.bottom-sidebar {
    padding: 1rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.bottom-hover:hover {
    color: #fffdf6;
    transform: scale(1.2);
}

/* Just for style to show off - static page */
li.selected {
    background-color: #262626;
    border-left: 4px solid #fef3c7;
    border-top: 1px solid rgb(45, 45, 45);
    border-bottom: 1px solid rgb(45, 45, 45);
}

a.selected {
    color: #fffdf6;
}

/* Main Containers */
.content-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    font-family: 'Signika Negative', sans-serif;
    font-size: 16px;
    background: linear-gradient(261deg, rgba(238,238,238,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 100%); 
    flex: 1 1 auto;
    width: 100%;
}
.main-container {
    display: flex;
    height: 100%;
}

.sidebar-container {
    background: linear-gradient(180deg, rgba(35,35,40,1) 0%, rgba(24,24,27,1) 100%);
    min-height: 100%;
    width: 20rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fef3c7;
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.75);
}

.page-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    /* justify-items: center; */
    /* justify-content: center; */
    align-items: center;
    align-content: space-around;
    margin: 5rem 7rem;
    justify-items: center;
    /* column-gap: 2rem; */
}

/* Header */
.header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header h1 {
    padding: .5rem;
    font-family: 'Signika Negative', sans-serif;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.circle {
    border: 1px solid black;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chart */
.chart-container {
    height: auto;
    max-width: 50rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 22px -10px rgba(0,0,0,0.75);
    padding: 1rem;

}

.chart-header {
    width: 100%;
    padding-left: 1rem;
    font-size: 1.2rem;
}

.chart img {
    width: 100%;
    height: auto;
    padding: 0 15px;
}

/* Recent Searches */
.recent-searches {
    border: 2px solid #c3c3c3;
    border-radius: 5px;
    height: auto;
    max-width: 50rem;
    width: 50rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    grid-column: 1 3;
}

.recent-searches-header {
    font-size: 1.2rem;
    padding-left: 1rem;
    width: 100%;
    border-bottom: 1px solid rgb(148, 148, 148);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Styles the small clear button */
.small {
    font-size: 12px;
    color:rgb(148, 148, 148);
}

.small:hover {
    color:rgb(45, 45, 45);
    cursor: pointer;
}

/* Recent Searches */
.recent-searches-list {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    /* justify-content: center; */
}

.street-name {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    cursor: pointer;
    border-bottom: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
}

.street-name:hover {
    background-color: rgba(0,0,0,0.15);
}

/* Quick Actions */
.quick-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    justify-self: start;
}

.quick-actions-header {
    width: 50rem;
    display: flex;
    justify-content: center;
    margin-bottom: -1.5rem;
}

.quick-actions-title {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    text-align: center;
}

.card {
    width: 5rem;
    height: 5rem;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    padding: 3rem;
}

.card:hover {
    background-color: rgba(223, 223, 223, 0.559);
}

/* Metrics */

.metrics {
    display: inline-grid;
    row-gap: 1rem;
    justify-self: start;
    font-family: 'Archivo', sans-serif;
    font-size: .9rem;
}

.metric-card {
    border: 2px solid grey;
    border-radius: 25px;
    width: 15rem;
    height: 5rem;
    text-align: center;
}

.card-title {
    background-color: rgba(69, 122, 247, 0.5);
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    padding: 4px 0;
}

.metric-card > p {
    font-size: 1.2rem;
    padding-top: .5rem;
}